/*
 *= require_self
 *= require_tree .
 */

table {
    margin-right: auto;
    margin-left: auto;
}

.login-thumb {
    margin-top: 6px;
    border: 3px solid black;
    border-radius: 3px;
}

.login {
    text-align: right;
    margin-right: 10px;
}


#map-canvas {
    height: 300px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.sportable {
    float: left;
}

.top-bar {
    color: white !important;
}

.search {
    width: 10% !important;
}

.street {
    height: 370px;
    width: 1026px;
}

.search-section {
    padding-left: 20px;
}

.create-game-button {
    text-align: center;
}
 *= require foundation_and_overrides
