/*
 *= require_self
 *= require_tree .
 */
h1 {
    font-size: 50px;
    text-align: center
}

table {
    margin-right: auto;
    margin-left: auto;
    border: 2px solid black;
}
.logo {
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;

}