/*
 *= require_self
 *= require_tree .
 */
h1 {
    font-size: 50px;
    text-align: center
}

table {
    margin-right: auto;
    margin-left: auto;
    border: 4px solid black;
}

.login-thumb {
    margin-right: 2px;
    border: 3px solid black;
    border-radius: 3px;
}

.login {
    text-align: right;
    margin-right: 10px;
    margin-top: 30px;

}
.logo {
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;

}

#map-canvas {
    height: 300px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}





